<ion-app>
  <ion-menu side="start" menuId="first"  contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="home()"> Inicio  </ion-item>
        <ion-item (click)="video()"> Videos  </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="start" menuId="second"  contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <!-- <ion-item (click)="ir2(1)" >1ª clase</ion-item>
        <ion-item (click)="ir2(2)">2ª clase</ion-item>
        <ion-item (click)="ir2(3)"> 3ª clase</ion-item>
        <ion-item (click)="ir2(0)"> Todos </ion-item>
        <ion-item (click)="ir(0)"> Alumnos activos  </ion-item> -->
        <ion-item (click)="video()"> Videos  </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
